<section class="dashboard">
  <article class="board">
    <header class="board__header">
      <h2 class="board__name">Board Name</h2>
    </header>

    <div class="board__wrapper">
      <div class="board__columns" cdkDropListGroup>

        <div class="board__column" *ngFor="let list of lists" cdkDropList [cdkDropListData]="list.tasks"
          (cdkDropListDropped)="drop($event)">

          <h3 class="column__title">{{list.title}}</h3>

          <div class="column__tasks" *ngIf="list.tasks.length">
            <div class="task" *ngFor="let task of list.tasks" cdkDrag>
              <h4 class="task__title">{{task}}</h4>
            </div>
          </div>

        </div>

      </div>
    </div>
  </article>
</section>
