<div class="column" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
  <h3 class="column__title">{{column.title}}</h3>
  <div class="column__tasks" cdkDropList [id]="column.id" [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="otherColumnsIds" (cdkDropListDropped)="drop($event)">
    <app-task *ngFor="let task of column.tasks" [task]="task" cdkDrag>
    </app-task>
    <app-task-adder *ngIf="column.title === 'Backlog'" (addTask)="addTaskToColumn(column.title, $event)"
      [class]="{show: hovering, 'force-show': !column.tasks.length}"></app-task-adder>
  </div>
</div>
